---

Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters,
  -bugprone-infinite-loop,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-init-variables,
  -misc-const-correctness,
  -misc-unused-parameters,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-redundant-member-init,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -readability-identifier-length

WarningsAsErrors: '*'

CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionIgnoredRegexp
    value:           '^(begin|end|operator.*|constant|from_data|temperature_interpolation|polynomial_scaling|exponential_scaling|linear_correction|stern_volmer|parameterized|wrap_analytic|in_region|multiply|add|piecewise|clamp|override_band|scale|named_band|log_normal_bands|exp_polynomial|wavelength_form|wavelength_temperature_form|bounded_analytic|horner|tabulated_lookup|scaled_array|scaled_table|first_order_exponent|temperature_table|rayleigh|hobr|t_butyl_nitrate|nitroxy_acetone|nitroxy_ethanol|n2o|cl2|h2o2|chbr3|hno3|rono2|ch3ono2|ch2o|cfc11|no2|pow10_temperature_scaled|ccl4|chcl3|clono2|acetone|sw_fery|sw_futr|standard_human_erythema|uv_index|scup_mice|exp_decay|par|normalize|gaussian|plant_damage|flint_caldwell|plant_damage_flint_caldwell|plant_damage_flint_caldwell_ext|phytoplankton_boucher)$'
  - key:             readability-identifier-naming.LocalConstantCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ParameterCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.MemberCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.MemberSuffix
    value:           _
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ClassConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.TemplateParameterCase
    value:           CamelCase
