---

Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters,
  -bugprone-infinite-loop,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-init-variables,
  -misc-const-correctness,
  -misc-unused-parameters,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-redundant-member-init,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -readability-identifier-length

WarningsAsErrors: '*'

CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionIgnoredRegexp
    value:           '^(begin|end|operator.*|constant|from_data|temperature_interpolation|polynomial_scaling|exponential_scaling|linear_correction|stern_volmer|parameterized|wrap_analytic|in_region|multiply|add|piecewise|clamp|override_band|scale|named_band|rayleigh|hobr|t_butyl_nitrate|nitroxy_acetone|nitroxy_ethanol|nitrate_formula)$'
  - key:             readability-identifier-naming.LocalConstantCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ParameterCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.MemberCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.MemberSuffix
    value:           _
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ClassConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.TemplateParameterCase
    value:           CamelCase
