name: Mac

on: 
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  gnu:
    runs-on: macos-latest
    continue-on-error: true 
    strategy:
      matrix:
        gcc_version: [13, 14, 15]
        build_type: [Debug, Release]
    env:
      FC: gfortran-${{ matrix.gcc_version }}

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install netcdf netcdf-fortran

      - name: Run Cmake
        run: cmake -S . -B build -D CMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - name: Build
        run: cmake --build build  --verbose
      
      - name: Test
        run: ctest -C ${{ matrix.build_type }} --output-on-failure