name: Ubuntu

on: 
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  gcc:
    runs-on: ubuntu-24.04
    continue-on-error: true
    strategy:
      matrix:
        gcc_version: [12, 14]
    env:
      CXX: g++-${{ matrix.gcc_version }}
      CC: gcc-${{ matrix.gcc_version }}
      FC: gfortran-${{ matrix.gcc_version }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libnetcdf-dev netcdf-bin libnetcdff-dev liblapack-dev liblapacke-dev
        sudo apt-get install -y python3-numpy python3-scipy
    - name: Run Cmake 
      run: cmake -S . -B build 
    - name: Build
      run: cmake --build build 
    - name: Run tests
      run: |
        cd build
        ctest --rerun-failed --output-on-failure . --verbose
